* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

/* Reset styles */
li {
  list-style: none;
}

/* Reusable styles */

.btn {
  border: 1px solid white;
  padding: 15px 100px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.btn-secondary {
  background-color: transparent;
  transition: 0.5s;
  color: white;
}

.btn-secondary:hover {
  background-color: rgb(2, 1, 1);
  color: white;
  border: 1px solid transparent;
}